nav,a{
    background-color:#000000;
    color: #ffffff;
    padding:5px;
    align-items:center;
    z-index: 2;
}
#company{
    float:left;
    margin-left:70px
}
a{
    position:relative;
    float:right;
    right:40px;
    text-decoration:none;
}
nav{
    position: fixed;
    width:100%;
    height: 45px;
    top: 0px;
    
}
h1{
    position:absolute;
    margin:10px 011px;
    font-size:50px;
    left:35px;
    font-style: normal;
    top:110px
}
button{
    background-color: #000000;
    color:white;
padding:10px 10px;
width:100px;
margin-top:10px;
border:none;
}
*{
    box-sizing:border-box;
}
body{
margin:0px;
width: 800px;
height: 1300px;

}
#para{
    position: absolute;
width: 500px;
height: 200px;
left: 50px;
top: 180px;

}
#image img{
    position:absolute;
   width:400px;
   height:500px;
    left: 700px;
    top: 140px;
      
}

.gallery{
    position:absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    width: 600px;
height: 400px;
left: 50px;
top:760px;

}
.gallery img {
    max-width: 150px;
    height: 200px;
  }
  h2{
    position:absolute;
    left:50px;
    top:650px;
    font-size:40px;
  }